body {
    background-color: darkgrey
}

.mainTitle {
  text-align: center;
  font-size: 3em
}

#pet-zone {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  
  }
  

  .card {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  
  .card img {
    height: 200px;
    width: 200px;
  }

#buttons {
    text-align: center;
    border: 200px;

}

  #all {
      background-color: rgba(229, 255, 0, 0.89);
      width: 3em;
      height: 2em;
      font-size: 1.5em;
      margin: 10px;
      border-radius: 10px;
      color: white;
  }

  #dog {
    background-color: rgba(0, 4, 255, 0.555);
    width: 3em;
    height: 2em;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 10px;
    color: white;
    
}

#cat {
    background-color: rgba(255, 238, 0, 0.884);
    width: 3em;
    height: 2em;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

#chicken {
    background-color: rgba(224, 13, 136, 0.767);
    width: 150px;
    height: 2em;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.dog footer {
  background-color: rgba(0, 4, 255, 0.555);
}

.cat footer {
  background-color: rgba(255, 238, 0, 0.884);
}

.chicken footer {
  background-color: rgba(224, 13, 136, 0.767);
}

